* {
    margin: 0;
    padding: 0;
}

div.container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------ BARRA DE CHANNELS  ------*/
div.sidebar {
    position: fixed;
    width: 220px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgb(112, 105, 156);
    z-index: 100;
}

div.sidebar-title {
    height: 70px;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

div.sidebar-title h2 {
    text-align: center;
    padding-top: 20px;
}

div.sidebar-menu {
    height: 95%;
    margin: 0;
    padding: 0;
    display: block;
}

div.new {
    text-align: center;
}

div.new button {
    margin-bottom: 20px;
    padding: .6rem 2rem;
    border-radius: 30px;
}

div.channel-list {
    width: 100%;
    height: 100vh;
    text-align: left;
}

div.channel-list ul {
    padding-left: 10px;
    list-style-type: none;
}

div.channel-list li {
    width: 100%;
    margin-bottom: 1.3rem;

}

div.channel-list li a {
    display: block;
    color: whitesmoke;
    font-size: 1rem;
    padding: 5px;
}

div.channel-list li a:hover {
    background: white;
    color: rgb(112, 105, 156);
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
}


/* ------ PARTE PRINCIPAL DE LA VENTANA  ------*/
div.main {
    display: block;
    margin-left: 220px;
    width: calc(100%-220px);
    height: 100vh;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

/* ------ BARRA SUPERIOR  ------*/
div.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 220px;
    width: calc(100% - 220px);
    top: 0;
    /*z-index: 100;*/
    background: white;
    z-index: 1;
}

div.channel-title {
    margin: 0;
    padding: 0;
}

div.channel-title h2 {
    margin: 15px;
    color: rgb(112, 105, 156);
}

div.search {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

div.search-bar {
    border: 1px solid rgb(104, 103, 103);
    box-shadow: 0px 0px 2px 1px rgb(104, 103, 103);
    border-radius: 30px;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px 200px 5px 10px;
    width: 170px;
    height: 20px;
    overflow-x: hidden;
}

div.search-bar input {
    width: 100%;
    border: none;
}

div.search-button {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 20px;
}

div.search-button i {
    font-size: 1.4em;
    color: rgb(112, 105, 156);
}

div.search-button i:hover {
    color: rgb(124, 124, 124);
}

div.user {
    margin: 0;
    padding: 0;
    display: flex;
}

div.username {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

div.username h3 {
    margin-top: 10px;
    margin-right: -5px;
}

div.user-status {
    margin: 0;
    padding: 0;
    /*margin-right: -5px;
    margin-top: 28px;*/
}

div.user-status .fas {
    margin-top: 30px;
    margin-right: -5px;
    color: green;
}

div.user-img {
    margin: 0;
    padding: 0;
}

div.user-img img {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    z-index: -1;
}

/* ------ CHAT ------*/
div.chat {
    margin-top: 70px;
    width: 100%;
    height: 88vh;
    /*margin-left: 250px;
    margin-top: 40px;*/
    display: block;
    /*padding: 0 0 50px 0;*/
}

div.contact {
    display: flex;
    margin: 20px 0px 20px 5px;
    width: 100%;
}

div.contact-img {
    width: 40px;
    margin-right: 10px;
}

div.contact-img img {
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

div.msg {
    display: inline-block;
    background: rgb(245, 235, 235);
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
}

div.contact-info {
    display: flex;
    width: 100%;
}

div.username {
    width: 75%;
}

div.username h5 {
    font-size: 14px;
    color: rgb(73, 73, 73);
}

div.contact-time {
    width: 25%;
    text-align: right;
}

div.contact-time span {
    font-size: 10px;
    color: rgb(114, 114, 114);
    justify-content: right;
}

div.contact-msg {
    padding: 10px 0px 0px 10px;
    border-top: 1px solid rgb(197, 194, 194);
}

div.receiver-user {
    display: flex;
    width: 100%;
    justify-content: right;
}

div.chats-sent {
    display: block;
    background: rgb(225, 220, 255);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
}

div.chat-current-user {
    display: flex;
    justify-content: right;
    width: 100%;
}

div.time {
    width: 35%;
}

div.time span {
    font-size: 10px;
    color: rgb(114, 114, 114);
}

div.current-user {
    width: 65%;
}

div.current-user h5 {
    font-size: 14px;
    text-align: right;
    color: rgb(73, 73, 73);
}

div.msg-sent {
    padding: 10px 0px 0px 10px;
    justify-content: right;
    border-top: 1px solid rgb(197, 194, 194);
}

div.chats-sent-img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 10px;
}

div.chats-sent-img img {
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

div.new-message {
    position: fixed;
    bottom: 0;
    width: calc(100% - 220px);
    height: 80px;
    display: flex;
    background: rgb(228, 218, 218);
    justify-content: center;
}

div.msg-text {
    margin: 10px;
    width: 800px;
    text-align: center;
    background: rgb(228, 218, 218);
}

div.msg-text input {
    margin: 10px;
    border: 1px solid rgb(112, 105, 156);
    border-radius: 15px;
    box-shadow: 3px 3px rgb(112, 105, 156);
    padding: 10px;
    width: 90%;

}

div.send-button {
    width: 100px;
    margin: 0;
    padding: 0;
}

div.send-button i {
    color: rgb(112, 105, 156);
    font-size: 2.4em;
    margin-left: 20px;
    margin-top: 20px;
}

div.send-button i:hover {
    color: rgb(124, 124, 124);
}


div.popup {
    background: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

div.popup-content {
    width: 300px;
    height: 150px;
    margin-left: 200px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: grid;
}

div.popup-content .far {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

div.popup-content h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(112, 105, 156);
}

div.popup-content p {
    margin-top: 15px;
}

input#newChannel {
    margin: 10px 0px 20px 0px;
}

input#create {
    width: 40%;
    margin-left: 30%;
}